{% extends "base_logueado_admin.html"	%}
{% block user %}
	{{	nombre_usuario	}}
{% endblock user %}


{%	block contenido%}
	<br><br><br><br>
	<!-- BOTON AGREGAR-->
	<div class="text-right">
		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#idCurso" onclick="$.devolverCurso()">
		              <span class="glyphicon glyphicon-plus-sign"></span>Nuevo
		        </button>							
	</div>

	<!-- CARGAR CURSOS -->
	
		<br>
		<!-- TABLA -->
		<!--TABLA FILTROS-->
		<div class="row">
			
		<div class="col-xs-3"></div>
			<div class="col-xs-6" id="divTablaFiltros">
				<div class="panel panel-info filterable table-responsive">
		            <div class="panel-heading">
		                <h3 class="panel-title" style="text-align: center;">Cursos</h3>		                
		            </div>
		            <div style="height: 250px; overflow-y:auto;">
			            <table class="table text-justified table-hover table-bordered table-condensed table-striped" id="tabla">
			            <thead>
			            	<th>#</th>
			            	<th>Nombre</th>
			            	<th>Acción</th>
			            	<th>Estado</th>
			            </thead>
			            <tbody id="bodyTablaCursos">
			            	
			            </tbody>
			            </table>
		            </div>

		        </div>
	    	</div>
	    <div class="col-xs-3"></div>
	   <!-- MODAL CURSO -->
		<div class="modal fade" id="idCurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            	 <div class="modal-dialog" style="width:300px">				
              <div class="modal-content panel panel-primary">

                <div class="modal-header panel panel-heading">

	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title" id="myModalLabel" style="text-align: center;">Agregar Nuevo Curso</h4>

                </div>
               
                <div class="modal-body">
                <div id="alert" style="display:none;" class="alert alert-danger"></div>                
                
                	<input type="hidden" id="txtIdCurso" value="0">
                    <label >Curso:</label>                   
                    <input type="text" class="form-control" placeholder="Nuevo Curso" name="txtNuevoCurso" id="txtNuevoCurso">                  
                    <!--
                    <label>Estado:</label>
                    
                    <input type="checkBox"  name="checkBoxEstado" id="checkBoxEstado" value="activo" >
                   -->
                 </div>
                

                <div class="modal-footer" >

                	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                	<a href="" type="button" class="btn btn-primary" id="btnGuardarCurso">Guardar</a>

                </div>
            
              </div>
              </div>
             </div>
       </div>
       <!--modal -->


{%	endblock contenido%}

{% block javascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/forms/cursos.js"></script>
{% endblock javascript %}