{% extends "base.html" %}

{% block contenido %}

    <div class="panel-default panel">
    <div class="panel-footer">

    <div class="row clearfix">


	    <div class="col-md-15 column">
           <br>

         <div class="carousel slide" id="carousel-58912">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-58912">
					</li>
					<li data-slide-to="1" data-target="#carousel-58912">
					</li>
					<li data-slide-to="2" data-target="#carousel-58912" class="active">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/1">
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/2">
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item active">
						<img alt="" src="http://lorempixel.com/1600/500/sports/3">
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-58912" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-58912" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>


        </div>
    </div>

    <div class="row clearfix">
		<div class="col-md-8 column">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail panel panel-default panel-heading">
						<img class="img-responsive img-thumbnail" width="190" height="190" src="http://lorempixel.com/600/200/people">
						<div class="caption">
							<h3>
								Noticias
							</h3>
							<p>
								xyz
							</p>
							<p>
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail ">
						<img class="img-responsive img-thumbnail" width="190" height="190" src="http://lorempixel.com/600/200/city">
						<div class="caption">
							<h3>
								Noticia 2
							</h3>
							<p>

							</p>
							<p>
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail panel panel-default panel-heading">
						<img class="img-responsive img-thumbnail" width="190" height="190" src="http://lorempixel.com/600/200/sports">
						<div class="caption">
							<h3>
								Noticia 3
							</h3>
							<p>
								xyz
							</p>
							<p>
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<div class="panel panel-footer">
            <h2>
				Noticias
			</h2>
            </div>
            <div class="panel panel-body">
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
            </div>
		</div>
	</div>




    </div>
    </div>

  <div class="panel panel-default">
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer">Enlaces de Interes</div>
</div>



{% endblock %}
